*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.login-hero{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.login-hero h2{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    line-height: 36px;
    word-spacing: -2px;
    margin: 10px 0;
    letter-spacing: -1px;
}

.google{
    width: 100%;
    background: #111;
    color: #fff;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.google .icon{
    margin-right: 10px;
}

.or{
    text-align: center;
    width: 100%;
    margin: 20px 0;
    font-size: 22px;
}

form input{
    background: transparent;
    border: 1px solid #999;
    height: 55px;
    width: 100%;
    padding: 0 20px;
    margin: 8px 0;
    border-radius: 8px;
    outline: none;
    transition: border .5s;
}


form input::placeholder{
    color: #777;
    letter-spacing: 1px;
}

form input:focus{
    background: #fff;
    border: 1px solid #111;
}

form .submit{
    color: #fff;
    background: #111;
    padding: 0 20px;
    border-radius: 25px;
    margin: 20px 0;
    height: 55px;
}

.login-hero .terms{
    font-size: 13px;
    margin: 10px 0;
    color: #333;
}

.terms a{
    text-decoration: underline;
    color: #000;
}

.login-hero span{
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
}

.login-hero span a{
    text-decoration: underline
}